* {
    margin: 0;
    padding: 0;
    font-family: Poppins-Regular;
}

ul {
    list-style: none;
    margin: 0;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 55px;
    color: #fff;
    text-transform: capitalize;
    font-family: Poppins-Medium;
}

.flex {
    display: flex;
}

section {
    padding: 60px 0;
}

.glbl-btn {
    display: inline-block;
    background-color: #fe8008;
    padding: 5px 20px;
    color: #fff;
}

.body-bg {
    background-color: #eeeeeeb3;
}

@font-face {
    font-family: Poppins-Black;
    src: url(../fonts-family/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url(../fonts-family/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts-family/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts-family/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts-family/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts-family/Poppins/Lato-Bold.ttf);
}

.heading h2 {
    font-family: Poppins-Medium;
    text-transform: uppercase;
    color: #525252;
    font-weight: 800;
    font-size: 36px;
}
/* innear header  */
.inner_header {
    position: static;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
}

.inner_header .navigation_bar {
    padding: 30px 0;
    background-color: #fff;
    border-bottom: unset;
}

.inner_header .navigation_bar .menu ul li a {
    color: #666666;
}

.banner {
    background-image: url(../img/main-slider-1-2.jpg);
    padding: 0px;
}

.banner h1 {
    padding: 80px 0px 140px;
    font-family: Poppins-Medium;
}

/* about us  */
.about_us {
    background-color: #eeeeeeb3;
}

.about_us h2 {
    text-align: left;
}

.about_us .four_points li {
    display: inline-block;
    width: 45%;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

.about_us .four_points li .fa-solid {
    color: #fe8008;
    margin-right: 5px;
}

.about_us p {
    text-align: justify;
}

/* our mission  */
.our_mission {
    background-image: linear-gradient(rgb(0 0 0 / 3%), rgba(0, 0, 0, 0.3)), url(../img/our-mission.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;

}

.our_mission .heading h2 {
    color: #fff;
    margin-bottom: 20px;

}

.our_mission .contant {
    width: 60%;
    text-align: justify;
}

.our_mission .contant p {
    line-height: 30px;
}

.our_mission .trust_box {
    background-color: #fe8008;
    width: 85%;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-items: center;

}

.our_mission .trust_box .fa-solid {
    font-size: 42px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.our_mission .trust_box h4 {
    margin-bottom: 0px;
    text-align: left;
    font-family: Poppins-Medium;
}

/* why choose us  */
.why_chooseus {
    background-color: #eeeeeeb3;
    background-image: url(../img/whychooseback.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.why_chooseus .right .box ul li {
    display: inline-block;
    align-items: center;
}

.why_chooseus .right .box ul li h5 {
    margin-bottom: 0px;
    margin-left: 10px;
    font-family: Poppins-Medium;
    color: #525252;
}

.why_chooseus .right .box ul {
    margin-bottom: 10px;
}

.why_chooseus .right .box {
    margin-bottom: 38px;
    padding: 12px;

    border-radius: 4px;
}


/* book detail  */
.four_hightlights {
    padding-bottom: 0px;
}

.four_hightlights ul {
    display: flex;
    align-items: center;
}

.four_hightlights ul li img {
    margin-right: 15px;
}

/* main_slide */
.main_slide iframe {
    padding: 3px;
    background: #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
}

.main_slide  .car_one {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    align-items: center;
    padding: 25px 0px;
    margin-top: 25px;
}

.main_slide  .car_one .left {
    width: 22%;

    padding-right: 15px;
    text-align: center;
}

.main_slide  .car_one .left h6 {
    font-size: 15px;
    font-weight: 600;
}

.main_slide  .car_one .left small {
    font-weight: 500;
    color: #8b8b8b;
    font-size: 15px;
}

.main_slide  .car_one .middle {
    width: 50%;
    border-right: 1px solid #cfcfcf;
    padding: 0px 15px;
    border-left: 1px solid #cfcfcf;
}

.main_slide  .car_one .middle h4 {
    color: #525252;
    margin-bottom: 20px;
    font-family: Poppins-Bold;
}

.main_slide  .car_one .middle ul li {
    font-size: 15px;
    border-bottom: 1px dashed #93918f52;
    padding-bottom: 7px;
}

.main_slide  .car_one .middle ul li .fa-solid {

    padding-right: 5px;
    color: #ff6e07;
    font-size: 16px;
}

.main_slide  .car_one .right {
    width: 28%;
    text-align: center;
}

.main_slide  .car_one .middle .highlights {

    margin: 8px 0px;
    padding-top: 8px;
}

.main_slide  .car_one .middle .highlights .fa-solid {
    color: #5e5e5e;
    font-size: 13px;
}

.main_slide  .car_one .middle .highlights ul li {
    font-size: 14px;
    color: #5e5e5e;
    line-height: 20px;
    word-spacing: 2px;
  border: unset;
}



.main_slide .left_sticky {
    position: sticky;
    top: 0;
}
.main_slide  .car_one .right p {

    font-size: 15px;
}

.main_slide  .car_one .right span {
    display: block;

    font-size: 30px;
    font-weight: 700;
    color: #fe8008;
}

.main_slide  .car_one .right h6 {
    font-size: 14px;
    margin-bottom: 22px;

}

.main_slide  .car_one .right .glbl-btn {
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    width: 75%;
    border: unset;
    text-transform: uppercase;
    margin: auto;
    display: inline-block;
    height: 45px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.main_slide  .car_one .right .glbl-btn:focus{
    outline: unset;
}
.main_slide .price_box{
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    border-radius: 10px;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding: 20px;
    margin-bottom: 25px;
    display: none;
}
.main_slide .price_box .min_box {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    margin-top: -50px;
    outline: 1px solid #fe800854;
    outline-offset: -4px;
}

.main_slide .price_box h1{
    color: #fe8008;
    font-size: 45px;
    margin-bottom: 0;
    font-weight: 600;
}
.main_slide .price_box h1 span{
    font-size: 30px;
    margin-right: -6px;
}
.main_slide .price_box h2{
    font-size: 22px;
    font-weight: 600;
    color: #626262;
}
.main_slide .trip_detail{
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
}
.main_slide .trip_detail h4{
    
    font-size: 20px;
    font-family: Poppins-Medium;
    position: relative;
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    padding: 10px 0 10px 0px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}
.main_slide .trip_detail h6{
    background-repeat: no-repeat;
    font-family: Poppins-Medium;    
    margin-bottom: 25px;
    color: #535353;
    font-size: 18px;    
    padding-top: 5px;
}
.main_slide .trip_detail h6 img{
    margin-right: 5px;
}
.main_slide .trip_detail h6 .fa-solid{
    color: #fe8008;
}
.main_slide .trip_detail .sub_tourdetail{
    padding: 10px 20px;
    border-bottom: 1px solid #c9bcbc;
}
.main_slide .trip_detail .sub_tourdetail h6 .fa-solid{
    padding-right: 5px;
}
.main_slide .trip_detail .sub_tourdetail p{
    font-size: 14px;
    color: rgb(83, 83, 83);
    padding-bottom: 5px;
}
.main_slide .trip_detail .sub_tourdetail p img{
    margin-right: 8px;
}
.main_slide .trip_detail .sub_tourdetail p:last-child{
    margin-bottom: 0px;
}
.main_slide .trip_detail .sub_tourdetail p .fa-solid{
    padding-right: 15px;
    font-size: 17px;
    color: #fe8008;
}
.main_slide .trip_detail .sub_tourdetail p{
    color: rgb(104 104 104);
    font-size: 15px;
}
.main_slide .trip_detail .sub_tourdetail .point_a{
    background-image: url(../img/map-marker\ .png);
    background-repeat: no-repeat;
    padding-left: 29px;
    margin-left: -5px;
    font-size: 14px;
    position: relative;
    padding-bottom: 5px;
}
.main_slide .trip_detail .sub_tourdetail .point_a::before{
    content: "";
    position: absolute;
    display: block;
    border-left: 2px dotted #ec760f;
    top: 27px;
    z-index: 1;
    height: 33px;
    left: 9px;
}


.main_slide .trip_detail .sub_tourdetail .point_b{
    background-image: url(../img/map-markerb.png);
    background-repeat: no-repeat;
    padding-left: 29px;
    margin-left: -5px;
    font-size: 14px;
  
    padding-bottom: 5px;
}

.main_slide .trip_detail .book_return{
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid #c9bcbc;  
}
.main_slide .tour_distance {
    padding: 10px 23px;
}
.main_slide .trip_detail .book_return small{
    display: block;
    color: #535353;
}
.main_slide .trip_detail .book_return .glbl-btn{
    width: 90%;
    padding: 12px 0;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
}
.main_slide .trip_detail .book_return .glbl-btn .fa-solid{
    padding-right: 10px;
}
.main_slide .tour_detail .tour_distance{
    padding-left: 13px;
}
.main_slide .trip_detail .tour_distance ul li{
    font-size: 14px;
    color: #535353;
    text-transform: capitalize;
    line-height: 40px;
}
.main_slide .trip_detail .tour_distance ul li img{
    margin-right: 10px;
}
.main_slide .trip_detail .tour_distance ul li:first-child{

 background-repeat: no-repeat;
}
.main_slide .trip_detail .tour_distance ul li:nth-child(2){

    background-repeat: no-repeat;
}
.main_slide .trip_detail .tour_distance ul li:nth-child(3){

    background-repeat: no-repeat;
}

.main_slide  .payment_car_box {
    background-color: #fff;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    padding: 20px 10px 20px 15px;
    border-radius: 10px;
    outline: 1px solid #fe800854;
    outline-offset: -5px;
    margin: 35px 0px;
}
.main_slide .payment_car_box ul li{
    background-repeat: no-repeat;
    font-size: 14px;
    color: rgb(139 139 139);
    margin-bottom: 15px;
    position: relative;
    padding-left: 19px;
}
.main_slide .payment_car_box ul li::before{
    content: "";
    background-image: url(../img/right-arrow.png);
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
   left: 0;
   top: 6px;
}
.main_slide .payment_car_box .payment_flex{
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 0px 5px;
}
.main_slide .payment_car_box .payment_flex img{
    width: 45px;
    margin-bottom: 5px;
}
.main_slide .need_help {
    padding: 15px;

    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    border-radius: 10px;
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    outline-offset: -5px;
    outline: 1px solid #fff;
}
.main_slide .need_help h5{
    color: #fff;
    font-family: Poppins-Medium;
}
.main_slide .need_help a{
    color: #fff;
    font-size: 20px;
}

/* second slide form  */

.main_slide .passanger_info_form {
    background-color: #fff;
    margin-top: 35px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 40px;
}
.second_slide form .input-same input{
    width: 100%;
    height: 50px;
    border: unset;
    outline: unset;
    border: 1px solid rgb(167 167 167);
    border-radius: 5px;
    padding: 0px 15px;
    transition: all 0.5s ease-in-out;
}
.main_slide .passanger_info_form  .form_group {
    margin-top: 30px;
}
.main_slide .passanger_info_form  .form_group label{
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #404040;
}


/* second slide  */
.second_slide{
    display: none;
}


.second_slide form input:focus{
    border: 1px solid #fe8008;
}

.second_slide form #continue{
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);

    margin-top: 35px;
    width: 28%;
    border: unset;
    outline: unset;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 1px;

    border-radius: 5px;
    
    padding: 14px;
    text-align: center;
}
.second_slide form #continue:hover{
    text-decoration: underline;
    color:#fff;
}
.second_slide .form_group small{
    font-size: 17px;
    color: #767676;
    margin-top: 4px;
    display: inline-block;
}
.second_slide .form_group select input{
    display: none;
}
.second_slide .form_group .fa-solid{
    background: #fe8008;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
}

.second_slide .form_group select {
    display: block;
    width: 100%;
    height: 50px;
    border: unset;
    outline: unset;
    border: 1px solid rgb(167 167 167);
    border-radius: 5px;
    padding: 0px 15px;
    transition: all 0.5s ease-in-out;
}
.second_slide .form_group .dropdown-select.wide {
    display: none;
}
.second_slide .form_group select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/caret-down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    transition: all 0.5s ease-in-out;
}

.second_slide .form_group select:focus{
    border: 1px solid #fe8008;
}


.second_slide .form_group .iti {
    position: relative;
    display: inline-block;
    width: 100%;
}
.second_slide form .input-same #phone{
    padding-left: 45px;
}

.main_slide .passanger_info_form h2{
    font-weight: 600;
    font-size: 25px;
    color: #6e6e6e;
    text-transform: uppercase;
}
.main_slide .passanger_info_form h2 .fa-solid{
    margin-right: 10px;
}
/* process bar  */
.process_bar {
    margin-bottom: 30px;
}
.process_bar ul li{
    position: relative;
    display: inline-block;
    margin-right: 180px;
}
.process_bar span{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100%;
    color: #c9c9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 3px solid #c9c9c9;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
}

.process_bar  ul li:after {
    content: "";
    position: absolute;
    width: 165px;
    height: 3px;
    background-color: #dcdcdc;
    top: 25px;
    left: 65px;
    z-index: -1;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);

}
.process_bar  ul li h5{
    font-family: Poppins-Medium;
    color: #838383;
    font-size: 18px;
    margin-top: 10px;
}
.process_bar ul .last_step:after{
    content: unset;
}


/* second slide process bar  */
 .process_bar .first_process span{
    background-color: #fe8008;
    border: 3px solid #fe8008;
    color: #ffff;
}
 .process_bar .first_process::after{
    background-color: #fe8008;
} 
 .process_bar .first_process h5{
 color: #fe8008;
}
.second_process  span{
    background-color: #fe8008;
    border: 3px solid #fe8008;
    color: #ffff;
}
.process_bar .second_process::after{
    background-color: #fe8008;
} 
 .process_bar .second_process h5{
 color: #fe8008;
}



/* third slide  */
.third_slide{
    display: none;
}

.third_slide .credit_cardbox {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
}

.third_slide .credit_cardbox h5 {
 font-weight: 900;
    color: #13395e;
    padding-left: 45px;
}
.third_slide .credit_cardbox h5:before{
    content: "";
    background-image: url(../img/credit-card.png);
    height: 70px;
    position: absolute;
    width: 100px;
    background-repeat: no-repeat;
    left: 40px;
}
.third_slide .credit_cardbox .payment_flex{
 width: 50px;
 margin: 25px 0;
}

.credit-carform form .form-group label{
    color: #13395e;
    margin-bottom: 0px;
    font-size: 17px;
    font-family: Poppins-Medium;
}
.credit-carform form .form-group input {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    padding-left: 40px;
    transition: all 0.5s ease-in-out;
}
.credit-carform form .form-group input:focus{
    border: 1px solid #fe8008;
}
.credit-carform form .form-group{
    position: relative;
}
.credit-carform form .form-group img{
    position: absolute;
    top: 50%;
    left: 10px;
}
.credit-carform form input[type="submit"] {
    margin: auto;
    display: block;
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    border: unset;
    color: #fff;
    height: 48px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}


.upipayment{
    background-color: #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.08), 0px -1px 2px 0px rgba(0, 0, 0, 0.02);
    margin: 35px 0;
    padding: 25px;
    border-radius: 6px;
}
.upipayment img{
    width: 100px;
}

.upipayment button{
    color: #FFF;
    background-image: linear-gradient(to right,#f9b233 0,#ea6f0a 100%,#f9b233 100%);
    display: block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
    border: unset;
    outline: unset;
}
.upipayment button:hover{
    background-color: #ff9415;
    border: 1px solid #ff9d1b;
}

